*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
a{
    text-decoration: none;
}
p{
    text-indent: 2em;
}
ul,ol,li{
    list-style: none;
}

.g-header{
    background-image: url("../pic/jpg/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
}

.g-header .m-head{
    height: 70px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.g-header .m-head .u-logo{
    width: 180px;
    height: 50px;
    background-color: #D4E9FD;
    font-size: 30px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.g-header .m-head .u-navigator{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.g-header .m-head .u-navigator a{
    padding-right: 60px;
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
}

.g-body{
    padding-top: 60px;
}

.g-body .m-platformIntro{
    padding-bottom: 90px;
}

.g-body .m-platformIntro .u-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 53px;
}

.g-body .m-platformIntro .u-title .cn{
    color: #333;
    font-size: 32px;
}

.g-body .m-platformIntro .u-title .en{
    color: #999;
    font-size: 24px;
}

.g-body .m-platformIntro .u-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.g-body .m-platformIntro .u-content .u-right{
    background-image: url("../pic/jpg/proIntro.jpg");
    width: 534px;
    height: 410px;
}

.g-body .m-platformIntro .u-content .u-left{
    width: 596px;
    font-size: 16px;
    color: #333;
    padding-right: 73px;
    line-height: 1.75;
}

.g-body .m-platformIntro .u-content .u-left p:nth-child(1){
    padding-bottom: 25px;
}

.g-body .m-platformIntro .u-content .u-left p:nth-child(2){
    padding-bottom: 40px;
}

.g-body .m-aboutUs{
    margin: 0 auto 100px;
    padding: 20px;
    width: 1244px;
    height: 709px;
    border: 2px solid #EDEDED;
}

.g-body .m-aboutUs .u-smallAbout{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 1160px;
    height: 625px;
    border: 2px solid #EDEDED;
}

.g-body .m-aboutUs .u-smallAbout .u-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.g-body .m-aboutUs .u-smallAbout .u-title .cn{
    padding-bottom: 14px;
    font-size: 32px;
    color: #333;
}

.g-body .m-aboutUs .u-smallAbout .u-title .en{
    padding-bottom: 59px;
    font-size: 26px;
    color: #969696;
}

.g-body .m-aboutUs .u-smallAbout .u-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.g-body .m-aboutUs .u-smallAbout .u-content .u-left{
    width: 436px;
    height: 420px;
    background-image: url("../pic/png/aboutUs.png");
}

.g-body .m-aboutUs .u-smallAbout .u-content .u-right{
    padding-left: 40px;
    width: 609px;
}

.g-body .m-aboutUs .u-smallAbout .u-content .u-right p:nth-child(1)
, .g-body .m-aboutUs .u-smallAbout .u-content .u-right p:nth-child(3){
    font-weight: bold;
    font-size: 18px;
    line-height: 1.556em;
    color: #333;
}

.g-body .m-aboutUs .u-smallAbout .u-content .u-right p:nth-child(1)
, .g-body .m-aboutUs .u-smallAbout .u-content .u-right p:nth-child(2)
, .g-body .m-aboutUs .u-smallAbout .u-content .u-right p:nth-child(3){
    text-indent: 0;
}

.g-body .m-aboutUs .u-smallAbout .u-content .u-right p:nth-child(2)
, .g-body .m-aboutUs .u-smallAbout .u-content .u-right p:nth-child(4)
, .g-body .m-aboutUs .u-smallAbout .u-content .u-right p:nth-child(5)
, .g-body .m-aboutUs .u-smallAbout .u-content .u-right p:nth-child(6){
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 1.75em;
    color: #333;
}

.g-body .m-partner{
    padding: 40px 140px 0;
    height: 588px;
    background-color: #FBFBFC;
}

.g-body .m-partner .u-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.g-body .m-partner .u-title span:nth-child(1){
    padding-bottom: 14px;
    font-size: 32px;
    line-height: 1.2em;
    color: #333;

}

.g-body .m-partner .u-title span:nth-child(2){
    font-size: 24px;
    line-height: 0.643em;
    color: #999;
}

.g-body .m-partner .u-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.g-body .m-partner .u-content .u-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 13px;
    background-color: #F8F8FA;
    width: 290px;
    height: 320px;
}

.g-body .m-partner .u-content .u-item span{
    padding-top: 25px;
    font-size: 20px;
    color: #333;
}

.g-body .m-partner .u-content .u-item .u-picContainer{
    width: 100%;
    height: 250px;
    background-color: #FFF;
}

.g-body .m-partner .u-content .u-item .u-picContainer .u-pic:nth-child(1){
    width: 99px;
    height: 29px;
    background-image: url("../pic/partner/partner1.png");
}

.g-body .m-partner .u-content .u-item .u-picContainer .u-pic:nth-child(2){
    width: 186px;
    height: 30px;
    background-image: url("../pic/partner/partner2.png");
}

.g-body .m-partner .u-content .u-item .u-picContainer .u-pic:nth-child(3){
    width: 188px;
    height: 110px;
    background-image: url("../pic/partner/partner3.png");
}

.g-body .m-partner .u-content .u-item .u-picContainer .u-pic:nth-child(4){
    width: 126px;
    height: 29px;
    background-image: url("../pic/partner/partner4.png");
}



